body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-page::after {
  content: "";
  background: url("./assets/image/bg1.svg");
  position: absolute;
  bottom: 0;
  right: -7%;
  width: 790px;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
.auth-page::before {
  content: "";
  background: url("./assets/image/bg2.svg");
  position: absolute;
  bottom: 0;
  right: -7%;
  width: 790px;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
